@import './fonts.css';
@import './tailwind.css';
@import './bgs.css';
@import './modified/toast.css';

svg {
     display: inline-block;
}

.svg-icon {
     @apply w-4 h-5 inline-block;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
     background: #282c4f;
     @apply bg-input border-emerald-400;
}


.no-select {
     -webkit-touch-callout: none;
     -webkit-user-select: none;
     -moz-user-select: none;
     -ms-user-select: none;
     user-select: none;
}